{% extends 'base.html' %}
{% load static %}
{% load bootstrap %} 

{% block main %}
<div id="myCarousel" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#myCarousel" data-slide-to="1"></li>
        <li data-target="#myCarousel" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img class="shadow-img first-slide img-fluid" src="{% static 'img/apartamento.png' %}" alt="First slide" loading="lazy">
            <div class="container">
                <div class="carousel-caption home-text" >
                    <h1>Você sonha nós realizamos </h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="home-btn">
                        <a href="https://api.whatsapp.com/send?phone=5586999999999&text=Olá!%20Encontrei%20seu%20site%20na%20Internet%20e%20preciso%20de%20seus%20serviços." class="btn btn-1">
                            <i class="fa fa-whatsapp" aria-hidden="true"></i>
                            Entre em Contato</a>
                    </div>                
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="shadow-img second-slide img-fluid" src="{% static 'img/house.png' %}" alt="Second slide" loading="lazy">
            <div class="container">
                <div class="carousel-caption home-text" data-aos="fade-up">
                    <h1>As melhores casas de Teresina em um só lugar.</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="home-btn">
                        <a href="#imoveis" class="btn btn-1">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            Saiba Mais</a>
                    </div>                
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img class="shadow-img third-slide img-fluid" src="{% static 'img/miss-vis-val.jpg' %}" loading="lazy" alt="Third slide">
            <div class="container">
                <div class="carousel-caption home-text" data-aos="fade-up">
                    <h1>Encontre os melhores Apartamentos de Teresina</h1>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry.</p>
                    <div class="home-btn">
                        <a href="#imoveis" class="btn btn-1">
                            <i class="fa fa-arrow-circle-down" aria-hidden="true"></i>
                            Saiba Mais</a>
                    </div>                
                </div>
            </div>
        </div>
    </div>
    <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
</div>
<!-- Inicio Sobre -->
<section class="section-padding d-flex align-items-center" id="sobre" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Você sonha nós realizamos</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="sobre mt-3">
                    <div class="sobre-item align-items-center p-2 text-center">
                        <i class="fas fa-sign"></i>
                        <h5>Vendas</h5>
                        <div class="mt-3 info">
                            <p class="d-block">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            </p>
                        </div>
                        <div class="cost mt-3 text-dark">
                            <a href="#contato" class="btn btn-2">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="sobre mt-3">
                    <div class="sobre-item align-items-center p-2 text-center">
                        <i class="fa fa-home" aria-hidden="true"></i>
                        <h5>Casas</h5>
                        <div class="mt-3 info">
                            <p class="d-block">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            </p>
                        </div>
                        <div class="cost mt-3 text-dark">
                            <a href="#contato" class="btn btn-2">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-4 col-md-6" data-aos="fade-up">
                <div class="sobre mt-3">
                    <div class="sobre-item align-items-center p-2 text-center">
                        <i class="fas fa-city"></i>
                        <h5>Apartamentos</h5>
                        <div class="mt-3 info">
                            <p class="d-block">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                            </p>
                        </div>
                        <div class="mt-3 text-dark">
                            <a href="#contato" class="btn btn-2">Saiba Mais</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Sobre -->
<!-- Inicio Imoveis -->
<section class="destaques section-padding d-flex align-items-center" id="imoveis">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Imóveis</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            {% for i in destaques %} 
                <div class="col-md-4" data-aos="fade-up">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{i.imagem1.url}}" loading="lazy" alt="{{i.title}}">
                        <label class="texto">{{i.categoria}}</label>
                        <div class="card-body">
                            <h3>{{i.title}}</h3>
                            <h4>RS {{i.valor}}</h4>
                            <!-- <p class="card-text">{{i.informacao}}</p> -->
                                <h5><i class="fa fa-map-marker" aria-hidden="true"></i> {{i.bairro}}</h5>
                                <h5><i class="fa fa-bed" aria-hidden="true"></i> {{i.quartos}}</h5>
                            <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-sm btn-2" href="{% url 'view_imoveis' i.ID_Imovel %}">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% for i in casas %} 
                <div class="col-md-4" data-aos="fade-up">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{i.imagem1.url}}" loading="lazy" alt="{{i.title}}">
                        <label class="texto">{{i.categoria}}</label>
                        <div class="card-body">
                            <h3>{{i.title}}</h3>
                            <h4>RS {{i.valor}}</h4>
                            <!-- <p class="card-text">{{i.informacao}}</p> -->
                            <div class="btn-group">
                                <h5>Bairro: {{i.bairro}}</h5>
                            <h5>Quartos {{i.quartos}}</h5>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-sm btn-2" href="{% url 'view_imoveis' i.ID_Imovel %}">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
        <div class="row justify-content-center">
            {% for i in apartamentos %} 
                <div class="col-md-4" data-aos="fade-up">
                    <div class="card mb-4 box-shadow">
                        <img class="card-img-top" src="{{i.imagem1.url}}" loading="lazy" alt="{{i.title}}">
                        <label class="texto">{{i.categoria}}</label>
                        <div class="card-body">
                            <h3>{{i.title}}</h3>
                            <h4>RS {{i.valor}}</h4>
                            <!-- <p class="card-text">{{i.informacao}}</p> -->
                            <div class="btn-group">
                                <h5>Bairro: {{i.bairro}}</h5>
                            <h5>Quartos {{i.quartos}}</h5>
                            </div>
                            <div class="d-flex justify-content-between align-items-center">
                                    <a class="btn btn-sm btn-2" href="{% url 'view_imoveis' i.ID_Imovel %}">Saiba Mais</a>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</section>
<!-- Fim Imoveis -->
<!-- Inicio Depoimento -->
<section class="depoiments section-padding" id="depoimentos">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>O que os nossos <span>Clientes</span> dizem</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="owl-carousel depoiments-carousel">
                {% for i in depoimento %}
                    <div class="depoiments-item" data-aos="zoom-in">
                        <div class="img-box">
                            <img src="{{i.imageDep.url}}" alt="{{i.empresa}}" loading="lazy">
                        </div>
                        <p>{{i.cliente_Dep}}</p>
                        <h3>{{i.nome_depoente}}</h3>
                        <span></span>
                        <div class="rating">
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                            <i class="fa fa-star" aria-hidden="true"></i>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>
<!-- Fim Depoimento -->
<!--Inicio FAQ -->
<section class="faq section-padding" id="faq">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div class="section-title">
                    <h2>Perguntas <span>Frequentes</span></h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-lg-10">
                <div id="accordion">
                    <div class="accordion-item">
                        <div class="accordion-header" data-toggle="collapse" 
                        data-target="#collapse-01">
                            <h3>What is Lorem Ipsum?
                            </h3>
                        </div>
                        <div class="collapse show" id="collapse-01" data-parent="#accordion">
                            <div class="accordion-body">
                                Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-02">
                            <h3>Where does it come from?</h3>
                        </div>
                        <div class="collapse" id="collapse-02" data-parent="#accordion">
                            <div class="accordion-body">
                                Contrary to popular belief, Lorem Ipsum is not simply random text. It has roots in a piece of classical Latin literature from 45 BC, making it over 2000 years old. Richard McClintock, a Latin professor at Hampden-Sydney College in Virginia, looked up one of the more obscure Latin words, consectetur, from a Lorem Ipsum passage, and going through the cites of the word in classical literature, discovered the undoubtable source. 
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-03">
                            <h3>Why do we use it?</h3>
                        </div>
                        <div class="collapse" id="collapse-03" data-parent="#accordion">
                            <div class="accordion-body">
                                It is a long established fact that a reader will be distracted by the readable content of a page when looking at its layout. The point of using Lorem Ipsum is that it has a more-or-less normal distribution of letters, as opposed to using 'Content here, content here', making it look like readable English. Many desktop publishing packages and web page editors now use Lorem Ipsum as their default model text, and a search for 'lorem ipsum' will uncover many web sites still in their infancy. Various versions have evolved over the years, sometimes by accident, sometimes on purpose (injected humour and the like).
                            </div>
                        </div>
                    </div>
                    <div class="accordion-item">
                        <div class="accordion-header collapsed" data-toggle="collapse" 
                        data-target="#collapse-04">
                            <h3>Where can I get some?
                            </h3>
                        </div>
                        <div class="collapse" id="collapse-04" data-parent="#accordion">
                            <div class="accordion-body">
                                There are many variations of passages of Lorem Ipsum available, but the majority have suffered alteration in some form, by injected humour, or randomised words which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't anything embarrassing hidden in the middle of text. All the Lorem Ipsum generators on the Internet tend to repeat predefined chunks as necessary, making this the first true generator on the Internet. It uses a dictionary of over 200 Latin words, combined with a handful of model sentence structures, to generate Lorem Ipsum which looks reasonable. The generated Lorem Ipsum is therefore always free from repetition, injected humour, or non-characteristic words etc.
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!--Fim FAQ -->
<!-- Inicio Contact -->
<section class="contato section-padding" id="contato" >
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8">
                <div class="section-title">
                    <h2>Fale <span>Conosco</span></h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4 col-md-5">
                <div class="contact-info">
                    <h3>Duvidas e informações</h3>
                    <div class="contact-info-item">
                        <i class="fa fa-location-arrow" aria-hidden="true"></i>
                        <h4>Localização</h4>
                        <p>1914 translation by H. Rackham.</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-envelope" aria-hidden="true"></i>
                        <h4>Endereço de Email</h4>
                        <p>help@lipsum.com</p>
                    </div>
                    <div class="contact-info-item">
                        <i class="fa fa-phone" aria-hidden="true"></i>
                        <h4>Número de telefone</h4>
                        <p>(99) 9 9999 9999</p>
                    </div>
                </div>
            </div>
            <div class="col-lg-8 col-md-7">
                <div class="contact-form">
                    <form action="{% url 'cliente_novo' %}" method="POST">
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="form-group">
                                    <!--Seguranca-->
                                    {% csrf_token %}
                                    {{ form|bootstrap }}
                                        
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-lg-12">
                                <button type="submit" class="btn btn-2">Enviar Mensagem</button>
                            </div>
                        </div>
                    </form> 
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Fim Contact -->

{% endblock %}
